// I gather this file is a starting point for the project.
@import "bootstrap";

@import "compass/css3";
// Include responsive Bootstrap styles
@import "bootstrap-responsive";

body { 
	background-color: #7aa8c2; // Old browsers
	@include filter-gradient(#7aa8c2, #638ca0, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #7aa8c2 0%,#7ba9c3 42%,#79a5bf 63%,#6d97ae 89%,#6a93a9 95%,#638ca0 100%));
	font-family:'Century Gothic W01', sans-serif;
}

input {
	font-family:'Century Gothic W01', sans-serif !important;
}

h1,h2,h3,h4,h5{
	font-family:'GillSansW01-ExtCondBold';
}
h5 {
	font-size: 1.7em;
	letter-spacing: .1em;
	font-weight: normal;
}

a:focus,
a:hover,
a:active {
  	outline: 0;
  	text-decoration: none;
}

#headerImg {
	z-index: -999;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#logo {
	margin-top: 8em;
	margin-left: -4em;
	height: 180px;
}

.navbar-inner {
	background: transparent;
	@include background-image(linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.75)));
	border-radius: 0;
	border: none;
	padding: 0;
	a {
		color: white !important;
		text-shadow: none !important;
		font-family:'GillSansW01-ExtCondBold';
		font-size: 1.7em;
		letter-spacing: .1em;
		padding: 15px !important;
	}
}

.breadcrumb {
	color: white;
	padding: 0;
	background-color: transparent;
	margin-top: -10px;
	margin-bottom: 10px;
	a, span {
		color: white;
	}
}

.search-query {
	width: 180px;
}

.slider-wrapper {
	background: rgba(255,255,255,.2);
}

.carousel-inner {
	.item {
		transition: left 1s ease-in-out .5s;
	}
}

#accordion {
	.accordion-group {
	    margin-bottom: 0;
	    border: none;
	    border-radius: 0;
	    a {
	    	color: #333;
	    }
	}
	.accordion-heading {
		@include background-image(linear-gradient(bottom, white, rgba(255, 255, 255, 0.25)));
	}
	.accordion-inner {
    	margin-bottom: 1px;
		@include background-image(linear-gradient(top, white, rgba(255, 255, 255, 0.25)));	
	}
}

#info-boxes {
	margin-bottom: 30px;
	h5 {
		margin-top: 0;
		padding: 10px 5px;
		@include background-image(linear-gradient(bottom, white, rgba(255, 255, 255, 0.25)));
	}
}
.bx-viewport {
	box-shadow: none !important;
	border: none !important;
	margin-left: 5px;
	background: transparent !important;
}

.footer-wrapper {
	background: #333;
}

#footer {
	background: #333;
	color: white;
	ul {
		@extend .unstyled;
		h5 {
			font-size: 1em;
			text-transform: uppercase;
			border-bottom: 1px solid #666;
			font-family:'Century Gothic W01', sans-serif;
			font-weight: normal;
		}
	}
	a {
		color: white;
		font-size: .9em;
	}
	address {
		padding-top: 4em;
	}
}